<div class="col-12" *ngIf="!transactions || transactions.length == 0">
    <div class="card">
        <h4>No transactions yet!</h4>
        <p>Please add your first transaction</p>
        <p-button
                (click)="displayCreateDialog = true"
                class="mb-2 mb-sm-0 mr-3"
                label="New transaction"
                icon="pi pi-plus">
        </p-button>
    </div>
</div>

<div class="col-12" *ngIf="transactions && transactions.length > 0">
    <div class="card no-padding">
        <p-table *ngIf="transactions && currency"
                 styleClass="p-datatable p-datatable-gridlines p-datatable-striped"
                 selectionMode="single"
                 dataKey="id"
                 [(selection)]="selectedItem"
                 [rowHover]="true"
                 [value]="transactions"
                 [responsiveLayout]="'stack'"
                 (onRowSelect)="rowSelected()">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date</th>
                    <th>Coin Value</th>
                    <th>Amount</th>
                    <th>Invested</th>
                    <th>Invested Sum</th>
                    <th>Amount Sum</th>
                    <th>Wallet Fiat</th>
                    <th>Ratio</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <p-button
                            (click)="displayCreateDialog = true"
                            class="mb-2 mb-sm-0 mr-3"
                            label="New"
                            icon="pi pi-plus">
                    </p-button>
                    <button
                            *ngIf="selectedItem"
                            (click)="deleteTransaction(selectedItem)"
                            pButton
                            type="button"
                            class="mr-3 p-button-danger"
                            label="Delete"
                            icon="pi pi-trash">
                    </button>
                </div>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr [pSelectableRow]="transaction">
                    <td><span class="p-column-title">Date</span>{{transaction.dateTime | date:'yyyy-MM-dd HH:mm' }}</td>
                    <td><span class="p-column-title">Coin Value</span>{{transaction.coinValue | currency:currency:'symbol':'1.2-10'}}</td>
                    <td><span class="p-column-title">Amount</span>{{transaction.coinAmount | number:'1.2-10'}}</td>
                    <td><span class="p-column-title">Invested</span>{{transaction.fiatInvested | currency:currency:'symbol':'1.2-10' }}</td>
                    <td><span class="p-column-title">Invested Sum</span>{{transaction.totalFiatInvested | currency:currency:'symbol':'1.2-10' }}</td>
                    <td><span class="p-column-title">Amount Sum</span>{{transaction.totalCoinAmount | number:'1.2-10'}}</td>
                    <td class="bg-{{transaction.fiatROI < 0 ? 'orange' : 'green'}}-100">
                        <span class="p-column-title">Value Fiat</span>
                        {{transaction.fiatWalletValue | currency:currency:'symbol':'1.2-3' }}
                    </td>
                    <td class="bg-{{transaction.fiatROI < 0 ? 'orange' : 'green'}}-100">
                        <span class="p-column-title">Ratio</span>
                        {{transaction.fiatROI | currency:currency:'symbol':'1.2-3'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<app-create-transaction *ngIf="displayCreateDialog"
                        [walletId]="walletId"
                        [currency]="currency"
                        (onClose)="displayCreateDialog = false;">
</app-create-transaction>