<div class="login-body">
    <div class="login-wrapper">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4 mt-8">
            <div class="text-center mb-5">
                <img [src]="'assets/currency/btc.svg'" class="logo" alt="diamond-layout" height="50"/>
                <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
                <span class="text-600 font-medium line-height-3">Don't have an account?</span>
                <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">

                <div>
                    <label for="username" class="block text-900 font-medium mb-2">Username</label>
                    <input id="username" formControlName="username" type="text" pInputText class="w-full mb-3">

                    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                    <input id="password1" formControlName="password" type="password" pInputText class="w-full mb-3">

                    <!--            <div class="flex align-items-center justify-content-between mb-6">-->
                    <!--                <div class="flex align-items-center">-->
                    <!--                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>-->
                    <!--                    <label for="rememberme1">Remember me</label>-->
                    <!--                </div>-->
                    <!--                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>-->
                    <!--            </div>-->

                    <button pButton pRipple label="Sign In" icon="pi pi-check" class="w-full mb-2"
                            [disabled]="!loginForm.valid"></button>
                </div>
            </form>

            <button (click)="register()"
                    pButton pRipple label="Register" icon="pi pi-user-plus" class="w-full p-button-warning"
                    [disabled]="!loginForm.valid"></button>
        </div>

    </div>
</div>
