<app-wallet-page-header *ngIf="currentWallet && transactions"
        [currentWallet]="currentWallet"
        [transactionCount]="transactions?.length"
></app-wallet-page-header>

<app-line-chart *ngIf="transactions" [transactions]="transactions"></app-line-chart>

<app-transaction-table
        [walletId]="walletId"
        [transactions]="transactions"
        [currency]="walletCurrency"
></app-transaction-table>